
# Additional requirements go here

djangorestframework==3.12.0

django-filter==2.4.0
django-genomix==1.1.0
django-model-utils==4.0.0

pronto==0.12.2  # Need to look into making it compatible with v1.  See #88
