
# Additional requirements go here

djangorestframework==3.14.0

django-filter==22.1
django-genomix==1.1.0
django-model-utils==4.2.0

pronto==2.5.0  # Need to look into making it compatible with v1.  See #88
