
# Additional requirements go here

djangorestframework==3.13.1

django-filter==21.1
django-genomix==1.1.0
django-model-utils==4.2.0

pronto==2.4.4  # Need to look into making it compatible with v1.  See #88
